# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/chatapp/node_modules
/chatapp/.pnp
/chatapp/.pnp.js

# testing
/chatapp/coverage

# production
/chatapp/build

# misc
/backend/config/.env
/chatapp/.DS_Store
/chatapp/.env.local
/chatapp/.env.development.local
/chatapp/.env.test.local
/chatapp/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*